body {
  font-family: "Roboto", sans-serif;
  color: #434455; 
  font-size: 16px;
  font-weight: 400;
  background-color: #FFFFFF;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover, a:focus{
  text-decoration: underline;
  color: #4D5AE5;
}

img {
  display: block;
  max-width: 100%;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 24px 15px;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
}

.sctr-nav {
  display: flex;
}

.sctr-nav .logo {
  margin-right: 76px;
}

.head-span {
  color: #2E2F42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.nav-menu:hover, .nav-menu:focus {
  color: #404BBF;
}

.addr-link {
  display: flex;
  gap: 40px;
}

.addr-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.addr-list:hover, .addr-list:focus {
  color: #404BBF;
}

.sect-head {
  padding: 188px 0;
  background-color: #2E2F42;
  box-sizing: border-box;
  text-align: center;
}

.skt-main {
  color: #FFFFFF;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-weight: bold;
  margin: auto;
  margin-bottom: 48px;
  max-width: 496px;
  /*text-align: center;*/
  /*align-items: center;*/
}

.form-btm {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  background-color: #4D5AE5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  /*display: block;*/
  min-width: 169px;
  /*height: 56px;*/
  border: none;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  /*margin: auto;*/
  /*position: absolute;*/
}

.form-btm:hover, .form-btm:focus {
  background-color: #404BBF;
}

.page-title {
  color: #2E2F42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.descr {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.sect-princp {
  padding: 120px 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.sect-main {
  color: #2E2F42;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.princp-list {
  display: flex;
  gap: 24px;
}

.princp-list .item {
  flex-basis: calc((100% - 72px - 30px) / 4);
  text-align: left;
}

.sect-team {
  padding: 120px 15px;
  background-color: #F4F4FD;
}

.sect-main {
  /*text-align: center;*/
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list .sect-form {
  flex-basis: calc((100% - 72px - 30px) / 4);
  border-radius: 0 0 4px 4px;
  background-color: #FFFFFF;
  
}

.card-cont {
  padding: 32px 0;
  text-align: center;
}

.sect-portfl {
  padding: 120px 15px;
}

.sect-main {
  margin-bottom: 72px;
}

.portf-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  text-align: left;
}

.portf-list .card-portf {
  flex-basis: calc((100% - 48px - 30px) / 3);
  border-radius: 0 0 4px 4px;
}
/*border: 1px solid #404BBF;*/
.card-portf-descr {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.card-portf .page-title {
  margin-bottom: 8px;
}

.ftr {
  padding: 100px 0;
  background: #2E2F42;
}

.container .logo {
  margin-bottom: 16px;
  display: inline-block;
}

.letter {
  color: #f4f4fd;
}

.ftr-txt {
  display: flex;
  color: #F4F4FD;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  max-width: 264px;
}
