body {
  font-family: "Roboto", sans-serif;
  color: #434455; 
  font-size: 16px;
  font-weight: 400;
  background-color: #FFFFFF;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover, a:focus{
  text-decoration: underline;
  color: #4D5AE5;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1440px;
  padding-left: 156px;
  padding-right: 156px;
  margin: 0;
}

.page-header .container {
  border-bottom: 1px solid var#e7e9fc;
}

.page-header .container, .sctr-nav, .nav-list, .addr-link {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  /*padding-left: 156px;*/
}

.head-span {
  color: #2E2F42;
}

.nav-list{
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 76px;
  gap: 40px;
}

.nav-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.nav-menu:hover, .nav-menu:focus {
  color: #404BBF;
}

.addrs {
  font-style: normal;
}

.addr-link {
  padding-top: 24px;
  padding-bottom: 24px;
  /*padding-left: 332px;*/
  gap: 40px;
}

.addr-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.addr-list:hover, .addr-list:focus {
  color: #404BBF;
}

.sect-head .container {
  padding: 188px 472px;
  background-color: #2E2F42;
}

.skt-main {
  color: #FFFFFF;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: bold;
  margin-bottom: 48px;
}

.form-btm {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  background-color: #4D5AE5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
}

.form-btm:hover, .form-btm:focus {
  background-color: #404BBF;
}

.page-title {
  color: #2E2F42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
}

.descr {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.sect-princp .container {
  padding: 0;
  margin-top: 120px;
  margin-right: 156px;
  margin-left: 156px;
}

.princp-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.sect-main {
  color: #2E2F42;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.princp-list .item {
  flex-basis: calc((100% - 72px) / 4);
  /*gap: 24px;*/
  text-align: left;
 }

.sect-team .container {
  margin-top: 120px;
  padding: 120px 156px;
  /*padding-bottom: 72px;*/
  background-color: #F4F4FD;
}

.team-list {
  text-align: center;
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-list .sect-form {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  background-color: #FFFFFF;
}

.card-cont {
  margin: 32px 16px;
}

.sect-portfl .container {
  margin-top: 120px;
  margin-bottom: 120px;
  text-align: center;
}

.portf-list {
  text-align: left;
  margin-top: 72px;
}

.sect-card-portf {
  /*border: 1px solid #404BBF;*/
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.sect-card-portf .card-portf {
  /*border: 1px solid #404BBF;*/
  flex-basis: calc((100% - 48px) / 3);
  border-radius: 0 0 4px 4px;
}

.card-portf-descr {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.ftr .container {
  padding-top: 100px;
  padding-right: 1020px;
  padding-bottom: 100px;
  padding-left: 156px;
  background: #2E2F42;
  text-align: left;
}

.letter {
  color: #f4f4fd;
}

.ftr-txt {
  color: #F4F4FD;
  letter-spacing: 0.02em;
  padding-top: 16px;
}
